<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="FDMSConnection" connectionString="Data Source=BHAWANJEET\MSSQLSERVER01;Initial Catalog=FDMS;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
